<h1>You have sucessfully booked your flight!</h1>
<p> you have sucessfully booked your flight. your flight info is:<br>
Flight:<br>
    <%= @booking.flight.departing_airport.city %> to <%= @booking.flight.arrival_airport.city%><br>
    Date: <%= @booking.flight.date %><br>
    Duration: <%= @booking.flight.duration %> minutes<br>
</p>
<p>
Passenger Info:
</p>
    <p>
        <%= @user.name %><br>
        <%= @user.email %>
    </p>
    <p>have a great day!</p>