<div>
    <%= book.label :name, "Name" %>
    <%= book.text_field :name, required: true %><br>

    <%= book.label :email, "Email" %>
    <%= book.email_field :email, required: true %>
    <button type="button">Remove passenger</button>
    <%= book.hidden_field :_destroy%>
</div>